.transactions{
    /* width: 100%; */
    margin-top: 5%;
}

table{
    width: 100%;
}

tr{
    height: 50px;
}

tr:nth-child(odd) {
    background-color: #ffffff;
}
  
tr:nth-child(even) {
background-color: #d0d2d8;
}